<div class="row">
    <div class="small-6 large-centered columns">
        <h1>Login</h1>
        <form>
          <div class="row">
            <div class="large-12 columns">
              <label>Username
                <input type="text" placeholder="username" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Password
                <input type="password" placeholder="password" />
              </label>
            </div>
            <div class="large-12 columns">
                <a href="#" class="button [radius round]">Login</a>
            </div>
        </form>
    </div>
</div>
