<div class="row">
    <div class="small-2 columns">KBN</div>
    <div class="small-8 columns"></div>
    <div class="small-2 columns">Projects Dropdown</div>
</div>
<div class="row">
    <div class="small-12 small-centered columns">
        <table class="taskboard">
            <thead>
                <tr>
                    <th ng-repeat="state in states">{{state.name }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-repeat="state in states" kbn-sortable="cards" kbn-sortable-selector=".card" kbn-sortable-item-name="card">
                        <div class="card" ng-repeat="card in cards[state._id]">{{ card.subject }}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
